body{

    font-size: 62.5%;         
  }
  body{
    text-align: center;
  }
  body{
    font-size: 16px; 
  }
   
   span{
    font-size: 4rem;
  } 
  
  body{
    font-family: 'Akaya Telivigala', cursive;
  }
  p{
    font-size: 16px;
  }
  .Nav1{
    text-align: left;
    font-family: 'Ravi Prakash', cursive;
  }
  .Nav1{
    background-image:url(../img/FondoHamburguesa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }
  footer{
    background-color:rgb(143, 127, 127);
  }

  