html{

  font-size: 62.5%;         /* 1 rem es igual a 10px */
}
body{
  text-align: center;
  font-size: 16px;
  font-family: 'Akaya Telivigala', cursive; 
}

 span{
  font-size: 4rem;
} 

p{
  font-size: 16px;
}

}
footer{
  background-color:rgb(143, 127, 127);
}